In [1]:
#1.访问某列或某几列
#2.访问某行或某几行
#3.筛选出满足条件的行
import pandas as pd 
df_imdb = pd.read_csv('IMDB-Movie-Data.csv')
df_imdb

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [2]:
df_imdb.iloc[:,1]  # 显示title列

0      Guardians of the Galaxy
1                   Prometheus
2                        Split
3                         Sing
4                Suicide Squad
                ...
995       Secret in Their Eyes
996            Hostel: Part II
997     Step Up 2: The Streets
998               Search Party
999                 Nine Lives
Name: Title, Length: 1000, dtype: object

In [3]:
df_imdb.loc[:, 'Title']  # 另一种方法

0      Guardians of the Galaxy
1                   Prometheus
2                        Split
3                         Sing
4                Suicide Squad
                ...
995       Secret in Their Eyes
996            Hostel: Part II
997     Step Up 2: The Streets
998               Search Party
999                 Nine Lives
Name: Title, Length: 1000, dtype: object

In [4]:
df_imdb.iloc[:, :3]  # 访问前三列

     Rank                    Title                     Genre
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

[1000 rows x 3 columns]

In [5]:
df_imdb.loc[:, ['Rank', 'Title', 'Genre']] #  显示前三列 另一种方法

     Rank                    Title                     Genre
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

[1000 rows x 3 columns]

In [7]:
df_imdb.iloc[0]  #  显示第一行

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: 0, dtype: object

In [10]:
df_imdb.loc[0]  #另一种办法

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: 0, dtype: object

In [14]:
df_imdb.iloc[5:10]  # 5到10行

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [15]:
df_imdb.loc[5:10]  # 另一种方法

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
10,11,Fantastic Beasts and Where to Find Them,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0

In [16]:
df_imdb[df_imdb['Year']==2014]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
53,54,John Wick,"Action,Crime,Thriller",An ex-hitman comes out of retirement to track ...,Chad Stahelski,"Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...",2014,101,7.2,321933,43.00,68.0
65,66,Kingsman: The Secret Service,"Action,Adventure,Comedy","A spy organization recruits an unrefined, but ...",Matthew Vaughn,"Colin Firth, Taron Egerton, Samuel L. Jackson,...",2014,129,7.7,440209,128.25,58.0
83,84,Gone Girl,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...
981,982,Annie,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
983,984,Let's Be Cops,Comedy,Two struggling pals dress as police officers f...,Luke Greenfield,"Jake Johnson, Damon Wayans Jr., Rob Riggle, Ni...",2014,104,6.5,112729,82.39,30.0
987,988,Endless Love,"Drama,Romance",The story of a privileged girl and a charismat...,Shana Feste,"Gabriella Wilde, Alex Pettyfer, Bruce Greenwoo...",2014,104,6.3,33688,23.39,30.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0

In [17]:
df2 = df_imdb[(df_imdb['Year']==2014) & (df_imdb['Rating'] > 7.0)]
df2.shape

(41, 12)

In [18]:
df2

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
53,54,John Wick,"Action,Crime,Thriller",An ex-hitman comes out of retirement to track ...,Chad Stahelski,"Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...",2014,101,7.2,321933,43.00,68.0
65,66,Kingsman: The Secret Service,"Action,Adventure,Comedy","A spy organization recruits an unrefined, but ...",Matthew Vaughn,"Colin Firth, Taron Egerton, Samuel L. Jackson,...",2014,129,7.7,440209,128.25,58.0
83,84,Gone Girl,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
109,110,Ex Machina,"Drama,Mystery,Sci-Fi",A young programmer is selected to participate ...,Alex Garland,"Alicia Vikander, Domhnall Gleeson, Oscar Isaac...",2014,108,7.7,339797,25.44,78.0
133,134,Whiplash,"Drama,Music",A promising young drummer enrolls at a cut-thr...,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist, P...",2014,107,8.5,477276,13.09,88.0
154,155,Twin Peaks: The Missing Pieces,"Drama,Horror,Mystery",Twin Peaks before Twin Peaks (1990) and at the...,David Lynch,"Chris Isaak, Kiefer Sutherland, C.H. Evans, Sa...",2014,91,8.1,1973,NaN,NaN
162,163,X-Men: Days of Future Past,"Action,Adventure,Sci-Fi",The X-Men send Wolverine to the past in a desp...,Bryan Singer,"Patrick Stewart, Ian McKellen, Hugh Jackman, J...",2014,132,8.0,552298,233.91,74.0
170,171,Nightcrawler,"Crime,Drama,Thriller","When Louis Bloom, a con man desperate for work...",Dan Gilroy,"Jake Gyllenhaal, Rene Russo, Bill Paxton, Riz ...",2014,118,7.9,332476,32.28,76.0
176,177,Dawn of the Planet of the Apes,"Action,Adventure,Drama",A growing nation of genetically evolved apes l...,Matt Reeves,"Gary Oldman, Keri Russell, Andy Serkis, Kodi S...",2014,130,7.6,337777,208.54,79.0
198,199,The Imitation Game,"Biography,Drama,Thriller","During World War II, mathematician Alan Turing...",Morten Tyldum,"Benedict Cumberbatch, Keira Knightley, Matthew...",2014,114,8.1,532353,91.12,73.0
200,201,Edge of Tomorrow,"Action,Adventure,Sci-Fi",A soldier fighting aliens gets to relive the s...,Doug Liman,"Tom Cruise, Emily Blunt, Bill Paxton, Brendan ...",2014,113,7.9,471815,100.19,71.0
216,217,Captain America: The Winter Soldier,"Action,Adventure,Sci-Fi",As Steve Rogers struggles to embrace his role ...,Anthony Russo,"Chris Evans, Samuel L. Jackson,Scarlett Johans...",2014,136,7.8,542362,259.75,70.0
238,239,The Grand Budapest Hotel,"Adventure,Comedy,Drama","The adventures of Gustave H, a legendary conci...",Wes Anderson,"Ralph Fiennes, F. Murray Abraham, Mathieu Amal...",2014,99,8.1,530881,59.07,88.0
240,241,Fury,"Action,Drama,War",A grizzled tank commander makes tough decision...,David Ayer,"Brad Pitt, Shia LaBeouf, Logan Lerman, Michael...",2014,134,7.6,332234,85.71,64.0
260,261,Birdman or (The Unexpected Virtue of Ignorance),"Comedy,Drama,Romance",Illustrated upon the progress of his latest Br...,Alejandro González Iñárritu,"Michael Keaton, Zach Galifianakis,Edward Norto...",2014,119,7.8,440299,42.34,88.0
276,277,22 Jump Street,"Action,Comedy,Crime",After making their way through high school (tw...,Phil Lord,"Channing Tatum, Jonah Hill, Ice Cube,Nick Offe...",2014,112,7.1,280110,191.62,71.0
300,301,The Equalizer,"Action,Crime,Thriller",A man believes he has put his mysterious past ...,Antoine Fuqua,"Denzel Washington, Marton Csokas, Chloë Grace ...",2014,132,7.2,249425,101.53,57.0
313,314,The Hobbit: The Battle of the Five Armies,"Adventure,Fantasy",Bilbo and Company are forced to engage in a wa...,Peter Jackson,"Ian McKellen, Martin Freeman, Richard Armitage...",2014,144,7.4,385598,255.11,59.0
331,332,American Sniper,"Action,Biography,Drama",Navy S.E.A.L. sniper Chris Kyle's pinpoint acc...,Clint Eastwood,"Bradley Cooper, Sienna Miller, Kyle Gallner, C...",2014,133,7.3,353305,350.12,72.0
338,339,The Fault in Our Stars,"Drama,Romance",Two teenage cancer patients begin a life-affir...,Josh Boone,"Shailene Woodley, Ansel Elgort, Nat Wolff, Lau...",2014,126,7.8,271301,124.87,69.0
357,358,The Theory of Everything,"Biography,Drama,Romance",A look at the relationship between the famous ...,James Marsh,"Eddie Redmayne, Felicity Jones, Tom Prior, Sop...",2014,123,7.7,299718,35.89,72.0
380,381,What We Do in the Shadows,"Comedy,Fantasy,Horror",A documentary team films the lives of a group ...,Jemaine Clement,"Jemaine Clement, Taika Waititi,Cori Gonzalez-M...",2014,86,7.6,84016,3.33,76.0
384,385,The Lego Movie,"Animation,Action,Adventure","An ordinary Lego construction worker, thought ...",Phil Lord,"Chris Pratt, Will Ferrell, Elizabeth Banks, Wi...",2014,100,7.8,266508,257.76,83.0
448,449,Big Hero 6,"Animation,Action,Adventure",The special bond that develops between plus-si...,Don Hall,"Ryan Potter, Scott Adsit, Jamie Chung,T.J. Miller",2014,102,7.8,309186,222.49,74.0
463,464,Predestination,"Drama,Mystery,Sci-Fi","For his final assignment, a top temporal agent...",Michael Spierig,"Ethan Hawke, Sarah Snook, Noah Taylor, Madelei...",2014,97,7.5,187760,NaN,69.0
586,587,Unbroken,"Biography,Drama,Sport","After a near-fatal plane crash in WWII, Olympi...",Angelina Jolie,"Jack O'Connell, Miyavi, Domhnall Gleeson, Garr...",2014,137,7.2,114006,115.60,59.0
592,593,The Drop,"Crime,Drama,Mystery",Bob Saginowski finds himself at the center of ...,Michaël R. Roskam,"Tom Hardy, Noomi Rapace, James Gandolfini,Matt...",2014,106,7.1,116118,10.72,69.0
608,609,Mommy,Drama,"A widowed single mother, raising her violent s...",Xavier Dolan,"Anne Dorval, Antoine-Olivier Pilon, Suzanne Cl...",2014,139,8.1,33560,3.49,74.0
641,642,Relatos salvajes,"Comedy,Drama,Thriller",Six short stories that explore the extremities...,Damián Szifron,"Darío Grandinetti, María Marull, Mónica Villa,...",2014,122,8.1,110100,3.08,77.0
656,657,Boyhood,Drama,"The life of Mason, from early childhood to his...",Richard Linklater,"Ellar Coltrane, Patricia Arquette, Ethan Hawke...",2014,165,7.9,286722,25.36,100.0
677,678,"Love, Rosie","Comedy,Romance",Rosie and Alex have been best friends since th...,Christian Ditter,"Lily Collins, Sam Claflin, Christian Cooke, Ja...",2014,102,7.2,80415,0.01,44.0
697,698,I Origins,"Drama,Romance,Sci-Fi",A molecular biologist and his laboratory partn...,Mike Cahill,"Michael Pitt, Steven Yeun, Astrid Bergès-Frisb...",2014,106,7.3,86271,0.33,57.0
708,709,The Judge,"Crime,Drama",Big-city lawyer Hank Palmer returns to his chi...,David Dobkin,"Robert Downey Jr., Robert Duvall, Vera Farmiga...",2014,141,7.4,146812,47.11,48.0
712,713,The Book of Life,"Animation,Adventure,Comedy","Manolo, a young man who is torn between fulfil...",Jorge R. Gutiérrez,"Diego Luna, Zoe Saldana, Channing Tatum, Ron P...",2014,95,7.3,50388,50.15,67.0
721,722,Wild,"Adventure,Biography,Drama","A chronicle of one woman's 1,100-mile solo hik...",Jean-Marc Vallée,"Reese Witherspoon, Laura Dern, Gaby Hoffmann,M...",2014,115,7.1,95553,37.88,76.0
761,762,Chef,"Comedy,Drama",A head chef quits his restaurant job and buys ...,Jon Favreau,"Jon Favreau, Robert Downey Jr., Scarlett Johan...",2014,114,7.3,151970,31.24,68.0
765,766,PK,"Comedy,Drama,Romance",A stranger in the city asks questions no one h...,Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...",2014,153,8.2,103279,10.57,51.0
903,904,How to Train Your Dragon 2,"Animation,Action,Adventure",When Hiccup and Toothless discover an ice cave...,Dean DeBlois,"Jay Baruchel, Cate Blanchett, Gerard Butler, C...",2014,102,7.9,237565,177.00,76.0
989,990,Selma,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN